*{margin: 0;}
body{
   
    width: 100%;
}
/* header */
#header{   
    background-size:40%;
    background-color:#4da1ff;
    background-image: url(../img/pattern.png);
    }
/* logo  */
#logo{
    width: 20%;
    margin-top: 3%;
    padding: 1%;
}

/* main  */
main{margin: 1%;}
h1{font-size: 40px;}
#author{color: #4da1ff;}
#data{font-size: 12px;}
.autore{color: #8c8c8c;}
.img, table{margin-top: 3%;}
#didascalia{font-size: 12px;}
.blocco{margin-top: 5%;}
